.buttonHolder {
  text-align: center;
}

.ghost-button {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: white;
  border: 2px solid white;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

/* home page buttons */

#buttonOut {
  position: absolute;
  right: 10px;
  top: 10px;
}

.#buttonAdd {
  text-align: center;
}

.home_ghost-button {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin-top: -20px;
  display: inline-block;
  width: 150px;
  padding: 5px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}

/*#left {
  position: absolute;
  left: 30%;
}

#right {
  position: absolute;

}*/

.home_ghost-button:hover,
.home_ghost-button:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}
