@font-face {
    font-family: myFirstFont;
    src: url(larch.ttf);
}


body {
  margin: 0;
}

section#bottom {
	box-sizing: border-box;
	height: 100vh;
	text-align: center;
	padding: 2vw;
	font-size: 6vw;
}

section:nth-of-type(even) {
	background: #fff;
}

p {
  font-size: 18px;
  font-family: sans-serif;
}



video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(bear.png) no-repeat;
    background-size: cover;
    opacity: 0.7;
}


h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  padding: 80px 50px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

h1#bottom {
  /*font-family: myFirstFont;*/
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 80px;
  padding: 50px;
  margin-top: -65px;
  padding-bottom: 50px;
  text-align: center;
  /*  text-transform: uppercase;    */
  text-rendering: optimizeLegibility;
}

h1#main {
    color: white;
    margin-bottom: -15px;
  }

h2 {
  font-family: sans-serif;;
  font-size: 40px;
  color: black;
  text-align: center;
  text-transform: uppercase;

}

#line {
  /*border: 2px solid rgba(220, 125, 0, 0.8);*/
  border: 2px solid #4CAF50;

  height: 50px;
  width: 45%;
  left: 27.2%;
  top: 1055px;
  position: absolute;
  border-top-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
}

td {
  font-size: 26px;
  font-family: sans-serif;
}

table {
  margin-top: -90px;
}

table#pictures {
  position: absolute;
  margin-top: -420px;
  border-spacing: 80px;
  padding: 1px;
  border-collapse: separate;
}

p#slogan {
  font-size: 24px;
  font-family: myFirstFont;
  margin-top: -95px;
  margin-bottom: 60px;
}

#arrow {
  position: absolute;
  left: 47.6%;
}
