<!DOCTYPE html>
<html>

  <head>
    <title>Your To-Do List</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/ghostbutton.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

<div class="background">
<body>

  <div id="bar"></div>
  <div id="bear"></div>
  <p id="mind">Bear in Mind</p>
  <div id="buttonOut">
        <a class="home_ghost-button" href="{{logout_url}}">Log Out</a>
  </div>



<h1>Hi {{user.email}}!</h1>

<h2>Here is your to-do list.</h2>
<div id="line"></div>
<br>

<h3>Today's Events</h3>



{% for todays_reminder in todays_reminders %}
<div id="today">
  <b>Event:</b> {{todays_reminder.title}}
<br>
  <b>Description:</b> {{todays_reminder.description}}
</div>
{% endfor %}



<div id="buttonAdd">
<a class="home_ghost-button" href="{{user.url()}}">Add a Reminder</a>
</div>


<h3>Upcoming Events</h3>
{% for upcoming_reminder in upcoming_reminders %}
<div id="upcoming">
  <b>Event:</b> {{upcoming_reminder.title}}
<br>
  <b>Description:</b> {{upcoming_reminder.description}}
</div>
{% endfor %}
    <img autoplay loop poster="background.jpg" id="bgvid">

<br>

  <div class="buttonHolder">
        <a class="ghost-button" href="/addreminder{{user.url()}}">Add a Reminder</a>
        <br>
        <br>
        <a class="ghost-button" href="/removereminder{{user.url()}}">Remove A Reminder</a>
        <br>
        <br>
        <a class="ghost-button" href="{{logout_url}}">Log Out</a>
        <br>
      </div>
</body>

</div>
</html>
