<!DOCTYPE html>
<html>

  <head>
    <title>Your To-Do List</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/ghostbutton.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>


<body>

<h1>Hi {{user.email}}!</h1>
<h2>Here is your to-do list.</h2>

<h3>Today's Events</h3>

{% for reminder in reminders %}
<div><b>Event: {{reminder.title}}</b>
<br>Description: {{reminder.description}}</div>
{% endfor %}



<h3>Upcoming Events</h3>

    <img autoplay loop poster="background.jpg" id="bgvid">

<br>

<div class="buttonHolder">
        <a class="ghost-button" href="{{user.url()}}">Add a Reminder</a>
        <br>
        <a class="ghost-button" href="{{logout_url}}">Log Out</a>
        <br>
</div>

  </body>
</html>
