<!DOCTYPE html>
<html>

  <head>
    <title>Your To-Do List</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/ghostbutton.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="add.js"></script>

  </head>

<div class="background">
<body>

  <div id="bar"></div>
  <div id="bear"></div>
  <p id="mind">Bear in Mind</p>
  <div id="buttonOut">
    <a class="home_ghost-button" href="{{logout_url}}">Log Out</a>
  </div>



<h1 style="text-align:left">Hi {{user.email}}</h1>
<div>
  {% if user.phone == "" %}
  If you would like to receive your reminders as a text message, please enter your phone number.
  <br>
  <form action="/addphone" method="get">
    <input type="hidden" name="key" value="{{urlsafe_key}}">
    <input type=text name="phone" placeholder="##########">
    <input type="submit" value="Submit">
  </form>
  {% else %}
  <form action="/sendtext" method="get">
    Your reminders will be sent to {{user.phone}}.
    <input type="hidden" name="key" value="{{urlsafe_key}}">
    <input type="submit" value="Send today's reminders">
  </form>
  {% endif %}
</div>

<br>

<h2>Today's Events</h2>
<div id="line"></div>
<br>
<br>

{% for todays_reminder in todays_reminders %}
<div id="today">
  <h4>Event:</h4> {{todays_reminder.title}}
<br>
  <h4>Description:</h4> {{todays_reminder.description}}
</div>
{% endfor %}

<h2>Upcoming Events</h2>
<div id="line"></div>
{% for upcoming_reminder in upcoming_reminders %}
<div id="upcoming">
  <h4>Event:</h4> {{upcoming_reminder.title}}
<br>
  <h4>Description:</h4> {{upcoming_reminder.description}}
</div>
{% endfor %}
    <img autoplay loop poster="background.jpg" id="bgvid">

<br>

  <div class="buttonHolder">
        <a id="myBtn" class="ghost-button" href="/addreminder{{user.url()}}">Add a Reminder</a>
        <br>
        <br>
        <a class="ghost-button" href="/removereminder{{user.url()}}">Remove A Reminder</a>
        <br>
        <br>
        <a class="ghost-button" href="{{logout_url}}">Log Out</a>
        <br>
    </div>
</body>

</div>
</html>
