<!DOCTYPE html>
<html>
<head>
    <title>Bear in Mind</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/ghostbutton.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="login.js"></script>
  </head>

  <video muted autoplay loop poster="stylesheets/bear.png" id="bgvid">
      <source src="stylesheets/bear.webm" type="video/webm">
      <source src="stylesheets/bear.mp4" type="video/mp4">
  </video>


  <body>


<section>
    <h1 class="elegantshadow">Bear in Mind</h1>

<div class="buttonHolder">
        <a class="ghost-button" href="/home">Log In with Google</a>
        <br>
        <br>
        <a class="ghost-button" href="/home">Create a Google Account</a>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<img id="arrow" src="stylesheets/arrow.png" alt="Scroll Down" style="width:70px;height:auto;">
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<section id="bottom">
	 <h2>What is</h2>
    <h1 id="bottom">Bear in Mind</h1>
    <div id="line"></div>

	<p>A reminder to help you not forget your personal events or tasks throughout each week or month.</p>
</section>

  </body>
</html>
